/ChangeDelta.class
/Chunk.class
/DeleteDelta.class
/Delta$TYPE.class
/Delta.class
/DeltaComparator.class
/DiffAlgorithm.class
/DiffException.class
/DiffRow$Tag.class
/DiffRow.class
/DiffRowGenerator$1.class
/DiffRowGenerator$Builder.class
/DiffRowGenerator.class
/DiffUtils.class
/InsertDelta.class
/Patch.class
/PatchFailedException.class
/StringUtills.class
