/CloneGroupFeature.class
/CloneInstanceFeature.class
/FragmentChange.class
/History.class
/HistoryFrag.class
/HistoryGen.class
/LineMapBuilder.class
/MyCloneClass.class
/MyFragment.class
/MyVersion.class
/MyVersionList.class
/RefactoredInstance.class
/VersionChange.class
