/AddedMethodCallAnalyzer.class
/AnotherTokenVisitor.class
/ChangeGenerator.class
/ClassGenerator.class
/CloneFamily.class
/CloneVersion.class
/FeatureSelect.class
/ForGZTest.class
/FragmentChange.class
/GZTokenVisitor.class
/History.class
/HistoryFrag.class
/Improve.class
/MapUtil$1.class
/MapUtil.class
/MethodVisitor.class
/MyCloneClass.class
/MyFragment.class
/MyRefactoredClass.class
/MyVersion.class
/MyVersionList.class
/Node.class
/SortByVersion.class
/VersionMethods.class
/NewForGZTest.class
/RCFFilter.class
/RefactoredHelper.class
/RefactoredInstance.class
/StartFeature.class
/StartFragment.class
/UnrefactoredHelper$1.class
/UnrefactoredHelper.class
/UnrefactoredInstance.class
/VersionChange.class
